body{
    background-color: rgb(216, 164, 207);
}
#head-flex{
    
}


#the-game{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

}
#top-flexbox{

}
#mid-flexbox{

}
#bottum-flexbox{

}

